/* GENERAL */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: "DynaPuff", system ui;
    max-width: 1300px;
}

header {
    font-family: "Bagel Fat One", system-ui;
    font-size: 45px;
    position: relative;
    min-width: 900px;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Bagel Fat One", system-ui;
    text-transform: uppercase;
}

a:hover {
    text-shadow: 2px 2px #fbb80f;
}

nav {
    padding-top: 20px;
    font-size: 25px;
}

h1, h2, h3, h4 {
    font-family: "Bagel Fat One", system-ui;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 5px 0 5px 0;
}

h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

li {
    padding: 3px;
    text-transform: uppercase;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #926b0a;
}
::-webkit-scrollbar-thumb {
    background: #353535;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
   background: #000;
   
}


/* THEME */
body.light-theme {
    background-image: url(/html--iframes/Opossum.png);
    background-size: auto 350px; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: bottom right;
    h1 {
        color: #000;
    }
}

body.dark-theme {
    background-color: #2d2d2d;
    background-image: url(/html--iframes/racoon.png);
    background-size: auto 200px; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: bottom right;
    #ramEtt {
        background-color: #c03b3b;
        box-shadow: 5px 5px #861c1c;
    }
    #ramTvå {
        box-shadow: 5px 5px #861c1c;
    }
    .racoon, .disco, .danceOne, .danceTwo {
        visibility: visible;
    }
    footer {
        box-shadow: 5px 5px #861c1c;
    }
    h1{
        color: #fbb80f;
        text-shadow: 5px 5px black;
    }
    button:hover {
        box-shadow: red 2px 2px 7px;
    }
    #toggleOn {
        display: unset;
    }
    #toggleOff {
        display: none;
    }
}
#toggleOn {
    display: none;
    position: static;
}

.disco {
    position: fixed;
    top: 0;
    left: 25%;
    width: 60px;
    visibility: hidden;
    z-index: -1
}
.racoon {
    font-family: "Sedgwick Ave Display";
    text-transform: uppercase;
    font-weight: 900;
    font-size: 60px;
    color: red;
    position: absolute;
    left: 35%;
    top: 17%;
    transform: rotate(-15deg);
    visibility: hidden;
    text-shadow: #000000c2 4px 4px 5px;
}
.danceOne {
    width: 150px;
    position: fixed;
    left: 40%;
    bottom: 0;
    visibility: hidden;
}
.danceTwo {
    width: 150px;
    position: fixed;
    left: 60%;
    bottom: 0;
    transform: rotateY(180deg);
    visibility: hidden;
}

/* MAIN */
main {
    display: inline-flex;
    width: 90%;
    height: 500px;
}

#ramEtt {
    max-width: 250px;
    background-color: #c598af;
    box-shadow: 5px 5px #7e4aa4a3;
    border-top-left-radius: 30px;
    padding-right: 40px;
}

#ramTvå {
    background-color: #fbb80f;
    width: 70%;
    box-shadow: 5px 5px #7e4aa4a3;
    border-bottom-right-radius: 30px;
    min-width: 600px;
}

footer {
    position: fixed;
    bottom: 0;
    justify-content: center;
    background-color: #fbb80f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-top-left-radius: 30px;
    box-shadow: 5px 5px #7e4aa4a3;
    text-align: center;
    font-size: 13px;
}

footer a {
    padding: 5px;
}

footer a:hover {
    text-shadow: 2px 2px #c598af;
}

/* Content */
#newsBox {
    background-color: #ffffff45;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px #d99f0d;
}

#newsBox:hover {
    background-color: #ffffff67;   
}

/* Login */
#loginMain {
    display: flex;
    padding-right: 10px;
}

#loginLeft {
    float: left;
    width: auto;
    padding-right: 20px;
}

#loginRight {
    float: right;
    margin-left: 20px;
}

input {
    border-radius: 5px;
    border: 2px black solid;
    box-sizing: border-box;
    height: 25px;
    text-align: center;
    padding: 10px;
    font-family: "DynaPuff", system ui;
}
body.dark-theme input {
    background-color: #2b2b2b;   /* mörkgrå bakgrund */
    color: #fbb80f;              /* textfärg */
    border-color: #fbb80f;       /* valfritt: matchar temat */
}

body.dark-theme input::placeholder {
    color: #fbb80f;              /* om du vill att placeholdern följer med */
    opacity: 0.7;                /* justera efter smak */
}

button {
    border-radius: 5px;
    padding: 3px;
    font-family: "DynaPuff", system ui;
}

button:hover {
    box-shadow: 3px 3px #7e4aa4a3;
    cursor: pointer;
    text-shadow: 2px 2px #0000002d;
}

/* Pungråttor */
#card {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    padding: 15px 0 15px 15px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    background-color: #c598af;
    min-width: 500px;
    flex-wrap: wrap;
}

#card:hover {
    background-color: #ffffff67; 
}

#iframeImg {
    width: 200px;
    height: auto;
    box-shadow: 5px 5px #7e4aa4a3;
    border-radius: 20px;    
}

#cardText {
    text-align: start;
    word-wrap: break-word;
}

.upp {
    background-color: #fbb80f;
    position: sticky;
    bottom: 3%;
    left: 98%;
    padding: 2px 3px 0px 3px;
    box-shadow: 3px 3px #aa6fd4a3;
    border-radius: 5px;
    svg {
        width: 15px;
        height: 15px;
    }
}

/* Profile */
#profileMain {
    display: inline-flex;
    width: 100%;
}

#profileLeft {
    float: left;
    width: 70%;
    padding-left: 20px;
    background-color: #c598af;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px #7e4aa4a3;
    display: inline-flex;
}

#profileStats {
    padding-right: 20px;
}

#profileRight {
    float: inline-end;
    background-color: #c598af;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px #7e4aa4a3;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 170px;
}

#avatar {
    border-radius: 20px;
    width: 100px;
    border: 8px solid #7e4aa4a3;
}
#theme-toggle {
    color: #000;
    background-color: #f0f0f0;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    svg {
        margin-left: 2px;
    }
}
body.dark-theme #theme-toggle {
    color: #000;
    background-color: #fbb80f;
    border-color: #000000;
}

.icon {
    animation-name: none;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes iconAnimation {
    0%  {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1440deg);
    }
}



