<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap">
<link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap" rel="stylesheet">

/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 30px;
    margin-right: 15px;
    font-family: "DynaPuff", system ui;
    max-width: 1300px;
}

header {
    font-family: "Bagel Fat One", system-ui;
    font-size: 45px;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Bagel Fat One", system-ui;
    text-transform: uppercase;
}

a:hover {
    text-shadow: 2px 2px #fbb80f;
}

nav {
    font-size: 25px;
}

h1, h2, h3, h4 {
   font-family: "Bagel Fat One", system-ui;
   letter-spacing: 2px;
   text-transform: uppercase;
}

h1 {
    margin-bottom: 30px;
    margin-top: 50px;
}

ul {
    padding: 10px;
    list-style-type: none;
}

li {
    padding: 3px;
    text-transform: uppercase;
}

/* MAIN */
main {
    display: inline-flex;
    width: 90%;
    height: 500px;
}

#ramEtt {
    width: 280px;
    background-color: #c598af;
    box-shadow: 5px 5px #7e4aa4a3;
    border-top-left-radius: 30px;
    padding-right: 20px;
}

#ramTvå {
    background-color: #fbb80f;
    width: 70%;
    box-shadow: 5px 5px #7e4aa4a3;
    border-bottom-right-radius: 30px;
    min-width: 600px;
}

footer {
    position: fixed;
    bottom: 0;
    justify-content: center;
    background-color: #fbb80f;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-top-left-radius: 30px;
    box-shadow: 5px 5px #7e4aa4a3;
    text-align: center;
    font-size: 13px;
}

footer a {
    padding: 5px;
 }

footer a:hover {
    text-shadow: 2px 2px #c598af;
}

/* Content */
#newsBox {
    background-color: #ffffff45;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px #d99f0d;
}

#newsBox:hover {
    background-color: #ffffff67;   
}

 /* Login */
#loginMain {
    display: flex;
    padding-right: 10px;
}

#loginLeft {
    float: left;
    width: auto;
    padding-right: 20px;
}

#loginRight {
    float: right;
}

input {
    border-radius: 5px;
    border: 2px black solid;
    box-sizing: border-box;
    height: 25px;
    text-align: center;
    padding: 10px;
    font-family: "DynaPuff", system ui;
}

button {
    border-radius: 5px;
    font-family: "DynaPuff", system ui;
}

button:hover {
    box-shadow: 3px 3px #7e4aa4a3;
    cursor: pointer;
    text-shadow: 2px 2px #0000002d;
}

 /* Pungråttor */
#card {
    display: flex;
    gap: 20px;
    justify-content:flex-start;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    background-color: #c598af;
    min-width: 560px;
    flex-wrap: wrap;
}

#card:hover {
    background-color: #ffffff67; 
}

 #iframeImg {
    width: 250px;
    height: auto;
    box-shadow: 5px 5px #7e4aa4a3;
    border-radius: 20px;    
}

#cardText {
    text-align: start;
}

/* Profile */
#profileMain {
    display: inline-flex;
    width: 100%;
}

#profileLeft {
    float: left;
    width: 70%;
    padding-left: 20px;
    background-color: #c598af;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px #7e4aa4a3;
    display: inline-flex;
}

#profileStats {
    padding-right: 20px;
}

#profileRight {
    float: inline-end;
    background-color: #c598af;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px #7e4aa4a3;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 170px;
}

#avatar {
    border-radius: 20px;
    width: 100px;
    border: 8px solid #7e4aa4a3;
}